data
.idea
paper
Figures
old_plots
paper_plots
/dataset_2020/*.svg
/dataset_2020/*.png
/dataset_2020/*.gz
/dataset_2020/*.csv
/dataset_2020/*.fasta
/dataset_2020/plot_data/
/dataset_2020/fetched/
luteovirus_analysis/
paper_figures/
.RData
.Rhistory
.Rproj.user/
data2/
/scripts/.Rhistory
