/* load fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

header {
    text-align: center;
}

.wrapper {
    display: grid;
    grid-template-columns: 
        150px
        100%;
}

.wrapper > :nth-child(1) {
    grid-column: 1;
}

.wrapper > * {
    grid-column: 2;
}

body {
    font: .9em/1.2 Lato, sans-serif;
}

/* Genome plot */
.nodes circle {
    stroke: #fff;
    stroke-width: 1.5px;
}

.textClass {
    stroke: #323232;    font: .9em/1.2 Lato, sans-serif;
    font-weight: normal;
    stroke-width: .5;
    font-size: 16px;
  }

  /* Slider */
.ticks {
    font: .9em/1.2 Lato, sans-serif;
}

.track,
.track-inset,
.track-overlay {
    stroke-linecap: round;
}

.track {
    stroke: rgb(203, 202, 202);
    stroke-width: 12px;
}

.track-inset {
    stroke: #dcdcdc;
    stroke-width: 8px;
}

.track-overlay {
    pointer-events: stroke;
    stroke-width: 50px;
    stroke: transparent;
    cursor: grab;
}

.handle {
    fill: rgb(183, 183, 183);
    stroke: rgb(128, 127, 127);
    stroke-opacity: 0.5;
    stroke-width: 2px;
}

/* Dropdown menu */
.dropbtn {
    background-color: #747474;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  #dropdown {

  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  #dropdown:hover .dropdown-content {display: block;}
  
  #dropdown:hover .dropbtn {background-color: #8f8f8f;}

  /* Family label */
  #family{
    color: rgb(82, 82, 82);
    padding: 16px;
    font-size: 25px;
    border: none;
  }
